/* Default Styles */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

html {
    background-color: #000;
    color: white;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, ul li, small {
    font-family: 'Oswald';
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 22px;
}

/* Mobile Version */
@media screen and (min-width: 500px) {
    /* Mobile Menu */
    header {
        display: grid;
        grid-template-columns: 180px 1fr 50px;
    }

    .currentPage {
        background-color: red;
    }

    header ul li {
        list-style-type: none;
        text-align: center;
    }

    header ul li a {
        text-decoration: none;
        color: white;
        text-transform: uppercase;
    }

    header ul {
        overflow: hidden;
        position: relative;
        margin-top: 20px;
    }

    /* This is to hide the navigation items on mobile */
    header ul {
        display: none;
        padding-left: 0px;
    }

    header ul li a.icon {
        background: black;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    header img, footer img {
        width: 150px;
    }

    .fa-bars::before {
        color: red;
    }

    .fa-bars::after {
        color: yellow;
    }

    /* Style the navigation menu */
    .topnav {
        overflow: hidden;
        background-color: #000;
        position: relative;
    }
  
    /* Hide the links inside the navigation menu (except for logo/home) */
    .topnav #myLinks {
        display: none;
        background-color: rgb(48, 48, 48);
        margin-top: 48px;
    }
  
    /* Style navigation menu links */
    .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }
    
    /* Style the hamburger menu */
    .topnav a.icon {
        background: black;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }
    
    /* Add a grey background color on mouse-over */
    .topnav a:hover {
        background-color: yellow;
        color: white;
    }

    .topnav li a:hover {
        background-color: red;
    }
    
    /* Style the active link (or home/logo) */
    .active {
        color: white;
    }

    .home a:hover {
        background-color: transparent;
    }

    .socials {
        grid-column: 3 / 4;
        padding-left: 20px;
        padding-top: 20px;
    }

    .socials a {
        padding: 0px 0px 10px 0px;
    }

    .socials a:hover {
        background-color: transparent;
    }

    .socials img {
        width: 25px;
    }

    a.icon {
        grid-column: 2 / 3;
    }

    /* --- Main Image --- */

    /* --- Mobile footer --- */
    footer {
        display: grid;
        grid-template: 1fr;
        text-align: center;
        background-color:rgb(48, 48, 48);
    }

    footer img {
        margin: 0 auto;
    }

    footer h3 {
        text-transform: uppercase;
    }

    footer small {
        background-color:#1d1d1d;
        padding: 10px 20px;
    }

    footer .socials2 img {
        width: 25px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
    }

    .locations {
        list-style-type: none;
        padding: 0px;
        margin-top: -10px;
    }
    .locations ul {
        padding: 0px;
    }

    .locations li a {
        color: white;
        text-decoration: none;
    }

    .locations li a:hover {
        color: red;
    }
}

/* --- Tablet Version--- */
@media screen and (min-width: 961px) {
    header img, footer img {
        width: 150px;
    }

    header {
        display: grid;
        grid-template-columns: 150px 1fr 50px;
        padding: 20px;
    }

    header ul {
        padding-left: 0px;
    }

    header ul li {
        list-style-type: none;
        text-align: center;
    }

    header ul li a {
        text-decoration: none;
        color: white;
        text-transform: uppercase;
    }

    header ul li a:hover {
        background-color:rgb(48, 48, 48);
        color: white;
    }

    #myLinks {
        margin: 20px 10px 10px 10px;
    }

    .currentPage {
        background-color: red;
    }

    .home, .home a {
        padding: 0px;
    }

    .home a:hover {
        background-color: transparent;
    }

    .topnav a img:hover {
        background-color: transparent;
    }

    a.icon {
        grid-column: 2 / 3;
    }

    .icon:hover {
        background-color: yellow;
    }

    .fa-bars::before {
        color: red;
    }

    .fa-bars::after {
        color: yellow;
    }

    /* Style the navigation menu */
    .topnav {
        overflow: hidden;
        background-color: #000;
        position: relative;
    }
  
    /* Hide the links inside the navigation menu (except for logo/home) */
    .topnav #myLinks {
        display: none;
        background-color: rgb(48, 48, 48);
    }
  
    /* Style navigation menu links */
    .topnav a {
        color: white;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }
    
    /* Style the hamburger menu */
    .topnav a.icon {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav li a:hover {
        background-color: red;
    }
    
    /* Style the active link (or home/logo) */
    .active {
        color: white;
    }

    .socials {
        display: block;
        grid-column: 3 / 4;
        align-items: center;
        padding-top: 15px;
        padding-left: 0px;
    }

    .socials a {
        padding: 2px;
    }

    .socials img {
        width: 25px;
    }

    /* --- Tablet footer --- */
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
        background-color:rgb(48, 48, 48);
    }

    footer img {
        margin: 0 auto;
        grid-column: 2 / 3;
        grid-row: 1 / 4;
        width: 300px;
    }

    footer h3 {
        grid-column: 3 / 4;
        text-transform: uppercase;
    }

    footer h3.heading1 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    footer .socials2 {
        grid-column: 3 / 4;
    }

    footer .socials2 img {
        width: 25px;
        padding-bottom: 20px;
        padding-right: 10px;
        padding-left: 10px;
        margin-top: 0px;
    }

    .locations {
        padding-left: 0px;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        margin-top: -8px;
    }

    h3.heading1 {
        margin-bottom: 0px;
        grid-column: 1 / 2;
        height: 20px;
    }

    .locations li {
        list-style-type: none;
    }

    .locations li a {
        text-decoration: none;
        color: white;
    }

    .locations li a:hover {
        color: red;
    }

    footer small {
        padding: 20px;
        background-color: #1d1d1d;
        grid-column: 1 / 4;
    }
}

/* --- Desktop Version --- */
@media screen and (min-width: 1280px) {
    body {
        width: 1280px;
        margin: 0 auto;
    }

    header {
        display: grid;
        grid-template-columns: 200px 1fr 150px;
        padding: 20px 0px;
    }

    header ul {
        text-align: center;
        justify-content: space-around;
        align-items: center;
        padding-left: 0px;
        display: block !important;
    }

    .topnav #myLinks {
        background-color: transparent;
        justify-content: space-evenly;
    }

    .topnav #myLinks {
        margin-top: 35px;
    }

    #myLinks li a {
        padding: 0px;
    }

    header ul li {
        list-style-type: none;
        text-transform: uppercase;
        display: inline-block;
        padding: 20px;
    }

    header ul li:hover {
        background-color: red;
        color: white;
    }

    header ul li a {
        color: white;
        text-decoration: none;
        padding: 20px;
    }

    .topnav a.icon {
        display: none !important;
    }

    .fa:hover {
        padding: 0px;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
        background-color:rgb(48, 48, 48);
    }

    footer img {
        width: 300px;
        margin: 0 auto;
        grid-column: 2 / 3;
        grid-row: 1 / 3;
    }

    footer small {
        grid-column: 1 / 4;
        padding: 10px;
        background-color: #1d1d1d;
    }

    footer h3 {
        text-transform: uppercase;
        text-align: center;
        grid-column: 3 / 4;
    }

    footer .heading1 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    /* socials for header */
    .socials {
        display: inline-flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .socials img, .socials2 img {
        width: 30px;
    }

    .socials a {
        width: 25px;
        padding: 0px;
    }

    .socials a:hover {
        background-color: transparent;
    }

    /* Social Links for footer section */
    .socials2 {
        align-content: center;
        grid-column: 3 / 4;
    }

    .socials2 img {
        padding: 0px 20px;
    }

    /* Locations section on footer */
    .locations {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        padding-left: 0px;
        margin-top: -20px;
    }

    .locations li {
        list-style-type: none;
        padding-bottom: 4px;
    }

    .locations li a {
        color: white;
    }

    .locations li a:hover {
        color: red;
    }
}