/* Default Styles */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

html {
    background-color: #000;
    color: white;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, ul li, small {
    font-family: 'Oswald';
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 22px;
}

p {
    font-size: 18px;
}

.required, #formErrors {
    color: red;
}

#formErrors {
    margin-top: 10px;
}

input[type=text]:focus {
    background-color: rgb(255, 255, 140);
}

input.error  {
    border: 2px solid red;
}

input[type=submit]:hover {
    background-color: #07d;
}

.hide {
	display: none;
}

/* Mobile Version */
@media screen and (min-width: 350px) {
    /* Mobile Menu */
    header {
        display: grid;
        grid-template-columns: 180px 1fr 50px;
    }

    .currentPage {
        background-color: red;
    }

    header ul li {
        list-style-type: none;
        text-align: center;
    }

    header ul li a {
        text-decoration: none;
        color: white;
        text-transform: uppercase;
    }

    header ul {
        overflow: hidden;
        position: relative;
        margin-top: 20px;
    }

    /* This is to hide the navigation items on mobile */
    header ul {
        display: none;
        padding-left: 0px;
        margin-left: -180px;
        margin-right: -54px;
    }

    header ul li a.icon {
        background: black;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    header img, footer img {
        width: 150px;
    }

    .fa-bars::before {
        color: red;
    }

    .fa-bars::after {
        color: yellow;
    }

    /* Style the navigation menu */
    .topnav {
        overflow: hidden;
        background-color: #000;
        position: relative;
    }
  
    /* Hide the links inside the navigation menu (except for logo/home) */
    .topnav #myLinks {
        display: none;
        background-color: rgb(48, 48, 48);
        margin-top: 140px;
    }
  
    /* Style navigation menu links */
    .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }
    
    /* Style the hamburger menu */
    .topnav a.icon {
        background: black;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }
    
    /* Add a grey background color on mouse-over */
    .topnav a:hover {
        background-color: yellow;
        color: white;
    }

    .topnav li a:hover {
        background-color: red;
    }
    
    /* Style the active link (or home/logo) */
    .active {
        color: white;
    }

    .mainImage {
        display: block;
        overflow: clip;
        border-top: 4px solid yellow;
        border-bottom: 4px solid yellow;
    }

    .mainImage img {
        margin-bottom: -5px;
    }

    .home a:hover {
        background-color: transparent;
    }

    .socials {
        grid-column: 3 / 4;
        padding-left: 20px;
        padding-top: 20px;
    }

    .socials a {
        padding: 0px 0px 10px 0px;
    }

    .socials a:hover {
        background-color: transparent;
    }

    .socials img {
        width: 25px;
    }

    a.icon {
        grid-column: 2 / 3;
    }

    /* --- Attractions --- */
    .attractions {
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        padding-bottom: 50px;
        text-align: center;
    }

    .attractions h2 {
        margin-bottom: 0px;
    }

    .attraction1, .attraction2, .attraction3 {
        padding-bottom: 20px;
        text-align: center;
    }

    .attractions a {
        color: white;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        background-color: red;
        padding: 20px 40px;
        margin-right: auto;
        margin-left: auto;
    }

    .attraction1 img, .attraction2 img, .attraction3 img {
        width: 300px;
        border: 4px solid red;
    }

    .attraction1 p, .attraction2 p, .attraction3 p {
        width: 250px;
        margin-left: auto;
        margin-right: auto;
    }

    /* --- About Us Section --- */
    .aboutUs {
        display: flex;
        flex-direction: column;
        padding-top: 0px;
        padding-bottom: 60px;
        text-align: center;
        
    }

    .aboutUs p {
        margin-left: auto;
        margin-right: auto;
        width: 300px;
    }

    .aboutUs img {
        margin: auto;
        width: 300px;
        border: 4px solid red;
    }

    .aboutUs a {
        color: white;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        background-color: red;
        padding: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
    }

    /* --- Plan Your Trip Section --- */
    .planTrip {
        display: flex;
        flex-direction: column;
        padding-top: 0px;
        padding-bottom: 20px;
        text-align: center;
    }

    .planTrip img {
        margin: auto;
        border: 4px solid red;
        width: 300px;

    }

    .planTrip a {
        color: white;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        background-color: red;
        padding: 20px;
    }

    .planTrip .links a:first-child {
        margin-right: 10px;
    }

    .planTrip .links a:last-child {
        margin-left: 10px;
    }

    .planTrip p {
        width: 300px;
        margin-right: auto;
        margin-left: auto;
    }

    .links {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: auto;
        padding-top: 40px;
    }

    /* --- Questions Callout Section --- */
    .questions {
        display: flex;
        padding-top: 120px;
        padding-bottom: 120px;
        padding-left: 20px;
        padding-right: 20px;
        background-image:url(images/jungle500-dark.jpg);
        /*filter: hue-rotate(0deg) brightness(50%) grayscale(10%);*/
        margin-top: 40px;
        border-top: 4px solid yellow;
        border-bottom: 4px solid yellow;
    }

    .questionsCallout {
        position: absolute;
        z-index: 1;
    }

    .questionsCallout a {
        position: absolute;
        color: white;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        background-color: red;
        padding: 20px;
        margin-left: 170px;
        width: 100px;
    }

    .questionsCallout h2 {
        padding-top: 70px;
        margin-left: 160px;
    }

    /* --- Mobile footer --- */
    footer {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        background-color:rgb(48, 48, 48);
    }

    footer img {
        margin: 0 auto;
    }

    footer h3 {
        text-transform: uppercase;
    }

    footer small {
        background-color:#1d1d1d;
        padding: 10px 20px;
    }

    footer .socials2 img {
        width: 25px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
    }

    .locations {
        list-style-type: none;
        padding: 0px;
        margin-top: -10px;
    }
    .locations ul {
        padding: 0px;
    }

    .locations li a {
        color: white;
        text-decoration: none;
    }

    .locations li a:hover {
        color: red;
    }

    /* --- About Us Page Styling --- */
    .packages {
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        padding-bottom: 40px;
        text-align: center;
    }

    .packages h2 {
        margin-bottom: 0px;
    }

    .package1, .package2, .package3 {
        padding-bottom: 20px;
        text-align: center;
    }

    .packages a {
        color: white;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        background-color: red;
        padding: 20px 40px;
        margin-right: auto;
        margin-left: auto;
    }

    .package1 img, .package3 img {
        width: 150px;
        
    }

    .package2 img {
        height: 150px;
    }

    .package1 p, .package2 p, .package3 p {
        width: 250px;
        margin-left: auto;
        margin-right: auto;
    }

    h1 {
        position: absolute;
        padding-top: 100px;
        padding-bottom: 100px;
        padding-right: 186px;
        padding-left: 186px;
    }

    /* --- About Page - About Us Section --- */
    .aboutUs {
        background-image: url(images/jurassicParkEntrance500-cropped.jpg);
        background-position: center;
        background-size: cover;
        border-top: 4px solid yellow;
        border-bottom: 4px solid yellow;
    }

    .aboutUs h2 {
        padding-top: 20px;
    }

    /* --- About Page - Plan Your Trip Section --- */
    .aboutTrip {
        text-align: center;
        margin-bottom: 100px;
        margin-top: 50px;
    }

    .aboutTrip img {
        border: 4px solid red;
        width: 300px;
    }

    .aboutTrip p {
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    .aboutTrip a {
        background-color: red;
        color: white;
        padding: 20px 40px;
        text-decoration: none;
        text-transform: uppercase;
        font-family: 'Times New Roman';
    }

    .linksAbout {
        margin-top: 60px;
    }

    /* --- Questions Callout Section --- */
    .questionsAbout {
        display: flex;
        padding-top: 120px;
        padding-bottom: 120px;
        padding-left: 20px;
        padding-right: 20px;
        background-image:url(images/jungle500-dark.jpg);
        /*filter: hue-rotate(0deg) brightness(50%) grayscale(10%);*/
        margin-top: 40px;
        border-top: 4px solid yellow;
        border-bottom: 4px solid yellow;
    }

    .questionsCalloutAbout {
        position: absolute;
        z-index: 1;
    }

    .questionsCalloutAbout a {
        position: absolute;
        color: white;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        background-color: red;
        padding: 20px;
        margin-left: 175px;
        width: 100px;
    }

    .questionsCalloutAbout h2 {
        padding-top: 40px;
        margin-left: 160px;
    }

    /* --- Attractions Page - Mobile --- */
    .attractionsTitle {
        padding-right: 172px;
        padding-left: 173px;
    }

    .attractionsList {
        text-align: center;
        padding-top: 40px;
    }

    .attractionsList section {
        padding-bottom: 20px;
    }

    .attractionsList section img {
        width: 300px;
        border: 4px solid red;
    }

    .attractionsList section p {
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    .questionsCalloutAttractions {
        position: absolute;
        flex-direction: column-reverse;
        padding-top: 40px;
        padding-left: 150px;
        text-align: center;
    }

    .questionsCalloutAttractions a {
        background-color: red;
        color: white;
        padding: 20px 40px;
        text-decoration: none;
        text-transform: uppercase;
    }

    .questionsCalloutAttractions h2 {
        padding-bottom: 20px;
    }

    /* --- Plan Your Trip Page - Mobile --- */
    .planYourTripTitle {
        padding-left: 154px;
        padding-right: 154px;
    }

    .questionsCalloutPlanTrip {
        position: absolute;
        flex-direction: column-reverse;
        padding-top: 80px;
        padding-left: 150px;
        text-align: center;
    }

    .questionsCalloutPlanTrip a {
        background-color: red;
        color: white;
        padding: 20px 40px;
        text-decoration: none;
        text-transform: uppercase;
    }

    .questionsCalloutPlanTrip h2 {
        padding-bottom: 20px;
    }

    /* --- Attractions Callout Section on Plan Trip Page --- */
    .attractionsCallout {
        background-image: url(images/rollercoaster2-500.jpg);
        padding-top: 50px;
        padding-bottom: 70px;
        text-align: center;
        border-top: 4px solid yellow;
        border-bottom: 4px solid yellow;
    }

    .attractionsCallout h2 {
        padding-bottom: 20px;
        margin-top: 0px;
    }

    .attractionsCallout a {
        background-color: red;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        padding: 20px 40px;
    }

    /* --- Form Section on Plan Trip Page --- */
    .formSection {
        display: flex;
        flex-direction: column;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
    }

    .formSection img {
        width: 300px;
        margin-left: auto;
        margin-right: auto;
        border: 4px solid red;
    }

    .formSection form {
        background-color:rgb(48, 48, 48);
        padding: 20px;
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    .formSection form label {
        font-family: 'Oswald';
    }

    .formSection form input[type="Submit"] {
        background-color: red;
        color: white;
        padding: 20px 40px;
        border: none;
        margin-top: 20px;
        text-transform: uppercase;
        font-family: 'Times New Roman';
        font-size: 16px;
    }

    .formSection form input[type="text"] {
        margin-bottom: 20px;
        height: 50px;
        font-size: 25px;
    }

    .formSection #countryList {
        height: 56px;
        font-size: 25px;
    }

    .questionsAbout {
        margin-top: 0px;
    }

    /* --- FAQ Page Styling --- */
    .faqTitle {
        padding-left: 220px;
        padding-right: 220px;
        padding-top: 110px;
        padding-bottom: 110px;
    }

    .accordionContainer {
        padding-top: 40px;
        padding-bottom: 40px;
        padding-right: 20px;
        padding-left: 20px;
    }

    .yellowLinesFAQ {
        border-top: 4px solid yellow;
    }

    .accordion {
        background-color: grey;
        color: white;
        font-family: 'Oswald';
        font-size: 18px;
        width: 100%;
        text-align: left;
        border: none;
        outline: none;
        padding: 10px;
        cursor: pointer;
        transition: 0.5s
    }

    .active, .accordion:hover {
        background-color: red;
    }

    .panel {
        padding: 0 18px;
        background-color: white;
        color: black;
        display: none;
        overflow: hidden;
    }

    /* --- Contact Page Mobile Styling --- */
    .contactTitle {
        padding-top: 25px;
        padding-bottom: 25px;
        padding-left: 200px;
        padding-right: 200px;
    }

    .contactPageForm {
        position: absolute;
        padding: 20px;
        display: flex;
        flex-direction: column;
        margin-left: 80px;
        margin-top: 120px;
        background-color:rgb(29, 29, 29, 0.8);
        border: 1px solid red;
        width: 300px;
    }

    .contactPageForm input[type="text"] {
        margin-bottom: 20px;
        height: 40px;
    }

    .contactPageForm input[type="text"]:last-child {
        margin-bottom: 20px;
    }

    .contactPageForm input[type="submit"] {
        background-color: red;
        color: white;
        text-transform: uppercase;
        padding: 20px 40px;
        border: none;
    }

    .contactPageForm label {
        font-family: 'Oswald';
        font-size: 25px;
    }
}

/* --- Tablet Version--- */
@media screen and (min-width: 961px) {
    header img, footer img {
        width: 150px;
    }

    header {
        display: grid;
        grid-template-columns: 150px 1fr 50px;
        padding: 20px;
    }

    header ul {
        padding-left: 0px;
    }

    header ul li {
        list-style-type: none;
        text-align: center;
    }

    header ul li a {
        text-decoration: none;
        color: white;
        text-transform: uppercase;
    }

    header ul li a:hover {
        background-color:rgb(48, 48, 48);
        color: white;
    }

    #myLinks {
        margin: 20px 10px 10px 10px;
    }

    .currentPage {
        background-color: red;
    }

    .home, .home a {
        padding: 0px;
    }

    .home a:hover {
        background-color: transparent;
    }

    .topnav a img:hover {
        background-color: transparent;
    }

    a.icon {
        grid-column: 2 / 3;
    }

    .icon:hover {
        background-color: yellow;
    }

    .fa-bars::before {
        color: red;
    }

    .fa-bars::after {
        color: yellow;
    }

    /* Style the navigation menu */
    .topnav {
        overflow: hidden;
        background-color: #000;
        position: relative;
    }
  
    /* Hide the links inside the navigation menu (except for logo/home) */
    .topnav #myLinks {
        display: none;
        background-color: rgb(48, 48, 48);
        margin-left: -170px;
        margin-right: -90px;
    }
  
    /* Style navigation menu links */
    .topnav a {
        color: white;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }
    
    /* Style the hamburger menu */
    .topnav a.icon {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav li a:hover {
        background-color: red;
    }
    
    /* Style the active link (or home/logo) */
    .active {
        color: white;
    }

    .socials {
        display: block;
        grid-column: 3 / 4;
        align-items: center;
        padding-top: 15px;
        padding-left: 0px;
    }

    .socials a {
        padding: 2px;
    }

    .socials img {
        width: 25px;
    }

    /* --- Tablet attractions section --- */
    .flexAttractions {
        display: flex;
        justify-content: space-evenly;
    }

    .attractions a {
        margin: auto;
    }

    .attraction1, .attraction2, .attraction3 {
        width: 350px;
    }

    .attraction1 p, .attraction2 p, .attraction3 p {
        width: 200px;
        margin: auto;
        padding-top: 10px;
    }

    .attraction1 img, .attraction2 img, .attraction3 img {
        width: 275px;
        height: 200px;
    }

    .attractionsList section h2, .attractionsList section p {
        text-align: left;
    }

    .questionsCalloutAttractions {
        padding-top: 0px;
        margin-left: 40px;
    }

    .questionsCalloutAttractions h2 {
        margin-top: -40px;
    }

    /* --- flex plan trip and about sections --- */
    .container {
        display: unset;
    }
    
    .container .aboutUs a {
        margin-top: 40px;
    }

    .container .aboutUs p {
        width: 400px;
        margin: auto;
        padding-bottom: 20px;
    }

    .container .planTrip {
        margin-left: 10px;
    }

    .container .planTrip p {
        width: 300px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        margin-bottom: 20px;
    }

    .container .planTrip img {
        height: 300px;
        overflow: clip;
        margin-bottom: 0px;
        margin-top: 0px;
    }

    div .links {
        margin-top: 0px;
    }

    /* --- Questions Callout --- */
    .questions {
        background-image:url(images/jungle961-dark.jpg);
        margin-top: 0px;
    }

    .questionsCallout {
        padding-left: 250px;
    }

    .questionsCallout h2 {
        padding-top: 45px;
        margin-left: 160px;
    }

    /* --- Tablet footer --- */
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
        background-color:rgb(48, 48, 48);
    }

    footer img {
        margin: 0 auto;
        grid-column: 2 / 3;
        grid-row: 1 / 4;
        width: 300px;
    }

    footer h3 {
        grid-column: 3 / 4;
        text-transform: uppercase;
    }

    footer h3.heading1 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    footer .socials2 {
        grid-column: 3 / 4;
    }

    footer .socials2 img {
        width: 25px;
        padding-bottom: 20px;
        padding-right: 10px;
        padding-left: 10px;
        margin-top: 0px;
    }

    .locations {
        padding-left: 0px;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        margin-top: -8px;
    }

    h3.heading1 {
        margin-bottom: 0px;
        grid-column: 1 / 2;
        height: 20px;
    }

    .locations li {
        list-style-type: none;
    }

    .locations li a {
        text-decoration: none;
        color: white;
    }

    .locations li a:hover {
        color: red;
    }

    footer small {
        padding: 20px;
        background-color: #1d1d1d;
        grid-column: 1 / 4;
    }

    /* --- About Us Page Styling --- */
    .packages {
        display: flex;
        padding: 20px 0px;
        text-align: center;
    }

    .packages h2 {
        margin-bottom: 0px;
    }

    .package1, .package2, .package3 {
        padding-bottom: 20px;
        text-align: center;
    }

    .packages a {
        color: white;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        background-color: red;
        padding: 20px 40px;
        margin-right: auto;
        margin-left: auto;
    }

    .package1 img, .package3 img {
        width: 150px;
        
    }

    .package2 img {
        height: 150px;
    }

    .package1 p, .package2 p, .package3 p {
        width: 250px;
        margin-left: auto;
        margin-right: auto;
    }

    .flexPackages {
        display: flex;
        justify-content: space-around;
    }

    h1 {
        position: absolute;
        padding-top: 140px;
        padding-bottom: 140px;
        padding-right: 413px;
        padding-left: 413px;
        font-size: 32px;
    }

    /* --- About Page - About Section - Tablet --- */
    .aboutUs {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100px;
        padding-top: 20px;
        padding-bottom: 20px;
        background-image: url(images/jurassicParkEntrance961.jpg);
        background-size: cover;
        background-position: center;
        margin-top: 50px;
        margin-bottom: 50px;
        border-top: 4px solid yellow;
        border-bottom: 4px solid yellow;
    }

    .aboutUs h2 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .aboutUs p {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .aboutUs a {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    .aboutUs img {
        grid-column: 2 / 3;
        grid-row: 1 / 5;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    /* --- Home Page - Plan Trip Section --- */
    .planTrip {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100px;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .planTrip h2 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .planTrip p {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    .planTrip a {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }

    .planTrip img {
        grid-column: 1 / 2;
        grid-row: 1 / 4;
    }

    .links {
        display: unset;
    }

    /* --- About Page - Plan Your Trip Section --- */
    .aboutTrip {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .aboutTrip h2 {
        grid-column:  2 / 3;
        grid-row: 1 / 2;
    }

    .aboutTrip p {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        width: 300px;
        padding-left: 0px;
        margin-top: -20px;
    }

    .aboutTrip img {
        grid-column: 1 / 2;
        grid-row: 1 / 4;
        border: 4px solid red;
        width: 300px;
        margin-left: 80px;
    }

    .aboutTrip a {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
        background-color: red;
        text-decoration: none;
        color: white;
        padding: 20px 40px;
        text-transform: uppercase;
        font-family: 'Times New Roman';
    }

    /* --- About Page - Questions Section --- */
    .questionsAbout {
        padding: 120px;
    }

    .questionsCalloutAbout {
        margin-left: 220px;
    }

    .questionsCalloutAbout a {
        margin-left: 170px;
        width: 100px;
    }

    /* --- Attractions Page - Tablet --- */
    .attractionsTitle {
        padding-left: 400px;
        padding-right: 400px;
        padding-top: 250px;
        padding-bottom: 250px;
    }

    .attractionsList {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    .attractionsList section {
        display: grid;
        grid-template-columns: 310px 1fr;
        grid-template-rows: 75px;
        padding-left: 100px;
        padding-right: 100px;
        padding-bottom: 20px;
        padding-top: 60px;
    }

    .attractionsList section img {
        width: 300px;
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        border: 4px solid red;
    }

    .attractionsList section h2 {
        grid-column: 2 / 3;
        margin-left: 20px;
    }

    .attractionsList section p {
        margin-left: 20px;
    }

    .questionsCalloutAttractions {
        position: absolute;
        margin-top: 100px;
        padding-left: 380px;
        text-align: center;
    }

    .questionsCalloutAttractions h2 {
        padding-bottom: 20px;
    }

    .questionsCalloutAttractions a {
        background-color: red;
        color: white;
        padding: 20px 40px;
        text-decoration: none;
        text-transform: uppercase;
        margin-top: 40px;
    }

    /* --- Plan Trip Page - Tablet --- */
    .planYourTripTitle {
        padding-left: 378px;
        padding-right: 378px;
        padding-top: 90px;
        padding-bottom: 90px;
    }

    .packages {
        padding-bottom: 50px;
    }

    .formSection {
        display: flex;
        flex-direction: row;
    }

    .formSection h2 {
        margin-top: 0px;
    }

    .tabletFormat {
        padding-right: 50px;
    }

    .questionsCalloutPlanTrip {
        padding-top: 40px;
        padding-left: 380px;
    }

    .accordionContainer {
        padding-left: 150px;
        padding-right: 150px;
    }

    .accordion {
        background-color: grey;
        color: white;
        font-family: 'Oswald';
        font-size: 18px;
        width: 100%;
        text-align: left;
        border: none;
        outline: none;
        padding: 10px;
        cursor: pointer;
        transition: 0.5s
    }

    .active, .accordion:hover {
        background-color: red;
    }

    .panel {
        padding: 0 18px;
        background-color: white;
        color: black;
        display: none;
        overflow: hidden;
    }

    .faqTitle {
        padding-top: 155px;
        padding-bottom: 155px;
        padding-left: 450px;
        padding-right: 450px;
    }

    /* --- Contact Page Tablet Styling --- */
    .contactTitle {
        padding-top: 50px;
        padding-bottom: 25px;
        padding-left: 420px;
        padding-right: 420px;
    }

    .contactPageForm {
        margin-left: 200px;
        margin-top: 150px;
        width: 500px;
    }

    .contactPageForm input[type="text"] {
        font-size: 25px;
        height: 40px;
    }

    .contactPageForm label {
        font-size: 25px;
        font-family: 'Oswald';
    }
}

/* --- Desktop Version --- */
@media screen and (min-width: 1280px) {
    body {
        width: 1280px;
        margin: 0 auto;
    }

    header {
        display: grid;
        grid-template-columns: 200px 1fr 150px;
        padding: 20px 0px;
    }

    header ul {
        text-align: center;
        justify-content: space-around;
        align-items: center;
        padding-left: 0px;
        display: block !important;
    }

    .topnav #myLinks {
        background-color: transparent;
        justify-content: space-evenly;
    }

    .topnav #myLinks {
        margin-top: 35px;
    }

    #myLinks li a {
        padding: 0px;
    }

    header ul li {
        list-style-type: none;
        text-transform: uppercase;
        display: inline-block;
        padding: 20px;
    }

    header ul li:hover {
        background-color: red;
        color: white;
    }

    header ul li a {
        color: white;
        text-decoration: none;
        padding: 20px;
    }

    .topnav a.icon {
        display: none !important;
    }

    .fa:hover {
        padding: 0px;
    }

    /* --- Plan Your Trip Section - Desktop --- */
    div.aboutUsContainer {
        display: block;
    }

    /* --- About page - about section --- */    
    .aboutUs {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100px 100px 100px;
        width: 1280px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 40px;
        padding-bottom: 80px;
        background-image: url(images/jurassicParkEntrance1280\ \(1\).jpg);
        /*filter: hue-rotate(0deg) brightness(50%) grayscale(10%);*/
        z-index: 0;
        border-top: 4px solid yellow;
        border-bottom: 4px solid yellow;
    }

    .aboutUs h2 {
        grid-column: 1 / 2;
    }

    .aboutUs img {
        grid-column: 2 / 3;
        grid-row: 1 / 4;
    }

    .aboutUs p {
        grid-column: 1 / 2;
        width: 450px;
        text-align: left;
        margin-top: 40px;
    }

    .aboutUs a {
        margin-top: 145px;
    }

    /* --- About page - Plan Your Trip Section --- */
    .aboutTrip {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100px 100px 100px;
        width: 1280px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding-top: 40px;
        padding-bottom: 60px;
        height: 350px;
    }

    .aboutTrip h2 {
        grid-column: 2 / 3;
    }

    .aboutTrip img {
        grid-column: 1 / 2;
        grid-row: 1 / 4;
        width: 300px;
        margin-left: 170px;
        border: 4px solid red;
    }

    .aboutTrip p {
        grid-column: 2 / 3;
        padding-left: 150px;
        padding-top: 40px;
        text-align: left;
    }

    .linksAbout {
        padding: 20px 40px;
    }

    .linksAbout a {
        background-color: red;
        color: white;
        font-family: 'Times New Roman';
        font-size: 18px;
        text-transform: uppercase;
        text-decoration: none;
        padding: 20px 40px;
    }

    /* --- Footer Section - Desktop --- */
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
        background-color:rgb(48, 48, 48);
    }

    footer img {
        width: 300px;
        margin: 0 auto;
        grid-column: 2 / 3;
        grid-row: 1 / 3;
    }

    footer small {
        grid-column: 1 / 4;
        padding: 10px;
        background-color: #1d1d1d;
    }

    footer h3 {
        text-transform: uppercase;
        text-align: center;
        grid-column: 3 / 4;
    }

    footer .heading1 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    
    .questions {
        display: flex;
        background-image: url(images/jungle1280-dark.jpg);
    }

    .questionsCallout {
        padding-left: 400px;
    }

    /* socials for header */
    .socials {
        display: inline-flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .socials img, .socials2 img {
        width: 30px;
    }

    .socials a {
        width: 25px;
        padding: 0px;
    }

    .socials a:hover {
        background-color: transparent;
    }

    /* Social Links for footer section */
    .socials2 {
        align-content: center;
        grid-column: 3 / 4;
    }

    .socials2 img {
        padding: 0px 20px;
    }

    /* Locations section on footer */
    .locations {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        padding-left: 0px;
        margin-top: -20px;
    }

    .locations li {
        list-style-type: none;
        padding-bottom: 4px;
    }

    .locations li a {
        color: white;
    }

    .locations li a:hover {
        color: red;
    }

    /* --- About Us Page Styling --- */
    .packages {
        display: flex;
        padding: 20px 0px;
        text-align: center;
    }

    .packages h2 {
        margin-bottom: 0px;
    }

    .package1, .package2, .package3 {
        padding-bottom: 20px;
        text-align: center;
    }

    .packages a {
        color: white;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        background-color: red;
        padding: 20px 40px;
        margin-right: auto;
        margin-left: auto;
    }

    .package1 img, .package3 img {
        width: 150px;
        
    }

    .package2 img {
        height: 150px;
    }

    .package1 p, .package2 p, .package3 p {
        width: 250px;
        margin-left: auto;
        margin-right: auto;
    }

    .flexPackages {
        display: flex;
        justify-content: space-around;
    }

    h1 {
        position: absolute;
        padding-top: 200px;
        padding-bottom: 200px;
        padding-right: 582px;
        padding-left: 582px;
    }

    .questionsAbout {
        padding: 120px;
        text-align: center;
    }

    .questionsCalloutAbout {
        margin-left: 400px;
    }

    /* --- Attractions Page - Desktop --- */
    .attractionsTitle {
        padding-left: 560px;
        padding-right: 560px;
        padding-top: 250px;
        padding-bottom: 250px;
    }

    .attractionsList {
        display: flex;
        flex-direction: column;
        padding: 20px 20px 60px 20px;
    }

    .attractionsList section {
        display: grid;
        grid-template-columns: 310px 1fr;
        grid-template-rows: 75px;
        padding-left: 215px;
        padding-right: 250px;
        padding-bottom: 20px;
        padding-top: 60px;
    }

    .attractionsList section img {
        width: 300px;
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        border: 4px solid red;
    }

    .attractionsList section h2 {
        grid-column: 2 / 3;
        margin-left: 20px;
    }

    .attractionsList section p {
        margin-left: 20px;
    }

    .questionsCalloutAttractions {
        position: absolute;
        margin-top: 100px;
        padding-left: 515px;
        text-align: center;
    }

    .questionsCalloutAttractions h2 {
        padding-bottom: 20px;
    }

    .questionsCalloutAttractions a {
        background-color: red;
        color: white;
        padding: 20px 40px;
        text-decoration: none;
        text-transform: uppercase;
        margin-top: 40px;
    }

    .attractionNo1 p, .attractionNo2 p, .attractionNo3 p {
        text-align: left;
    }

    .attractionNo1 h2, .attractionNo2 h2, .attractionNo3 h2 {
        text-align: left;
    }

    /* --- Plan Trip Page - Desktop --- */
    .packages {
        padding-bottom: 60px;
    }

    .attractionsCallout {
        background-image: url(images/rollercoaster2-1280.jpg);
        background-position: bottom;
        background-size: cover;
    }

    .attractionsList section p {
        width: 550px;
    }

    .tabletFormat {
        padding-right: 200px;
    }

    .questionsCalloutPlanTrip {
        padding-left: 550px;
    }

    .questionsAbout {
        background-image: url(images/jungle1280-dark.jpg);
    }

    .planYourTripTitle {
        padding-left: 548px;
        padding-right: 548px;
        padding-top: 135px;
        padding-bottom: 135px;
    }

    /* --- FAQ - Desktop Version Styling --- */
    .accordionContainer {
        padding-left: 150px;
        padding-right: 150px;
    }

    .faqTitle {
        padding-top: 225px;
        padding-bottom: 225px;
        padding-left: 610px;
        padding-right: 610px;
    }

    /* --- Contact Page Tablet Styling --- */
    .contactTitle {
        padding-top: 100px;
        padding-bottom: 25px;
        padding-left: 580px;
        padding-right: 580px;
    }

    .contactPageForm {
        margin-left: 280px;
        margin-top: 240px;
        width: 700px;
    }

    .contactPageForm label {
        font-size: 25px;
        font-family: 'Oswald';
    }

    .contactPageForm input[type="text"] {
        height: 40px;
        font-size: 25px;
    }
}