/* Default Styles */
html {
    margin: 0 auto;
    background-color: #000;
    color: white;
}

/* Mobile Version */
@media screen and (max-width: 500px) {
    /* Mobile Menu */
    header ul li {
        list-style-type: none;
        text-align: center;
    }

    header ul li a {
        text-decoration: none;
        color: white;
        text-transform: uppercase;
    }

    header ul {
        overflow: hidden;
        position: relative;
    }

    /* This is to hide the navigation items on mobile */
    header ul {
        display: none;
        padding-left: 0px;
    }

    header ul li a.icon {
        background: black;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    header img, footer img {
        width: 150px;
    }

    .fa-bars::before {
        color: red;
    }

    .fa-bars::after {
        color: yellow;
    }

    /* Style the navigation menu */
    .topnav {
        overflow: hidden;
        background-color: #000;
        position: relative;
    }
  
    /* Hide the links inside the navigation menu (except for logo/home) */
    .topnav #myLinks {
        display: none;
        background-color: rgb(48, 48, 48);
    }
  
    /* Style navigation menu links */
    .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }
    
    /* Style the hamburger menu */
    .topnav a.icon {
        background: black;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }
    
    /* Add a grey background color on mouse-over */
    .topnav a:hover {
        background-color: yellow;
        color: white;
    }

    .topnav li a:hover {
        background-color: red;
    }
    
    /* Style the active link (or home/logo) */
    .active {
        color: white;
    }

    /* --- Mobile footer --- */
    footer {
        display: grid;
        grid-template: 1fr;
        text-align: center;
    }

    footer img {
        margin: 0 auto;
    }
}

/* --- Tablet Version--- */
@media screen and (max-width: 961px) {
    header img, footer img {
        width: 150px;
    }

    header ul {
        padding-left: 0px;
    }

    header ul li {
        list-style-type: none;
        text-align: center;
    }

    header ul li a {
        text-decoration: none;
        color: white;
        text-transform: uppercase;
    }

    header ul li a:hover {
        background-color:rgb(48, 48, 48);
        color: white;
    }

    .fa-bars::before {
        color: red;
    }

    .fa-bars::after {
        color: yellow;
    }

    /* Style the navigation menu */
    .topnav {
        overflow: hidden;
        background-color: #000;
        position: relative;
    }
  
    /* Hide the links inside the navigation menu (except for logo/home) */
    .topnav #myLinks {
        display: none;
        background-color: rgb(48, 48, 48);
    }
  
    /* Style navigation menu links */
    .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }
    
    /* Style the hamburger menu */
    .topnav a.icon {
        background: black;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }
    
    /* Add a grey background color on mouse-over */
    .topnav a:hover {
        background-color: yellow;
        color: white;
    }

    .topnav li a:hover {
        background-color: red;
    }
    
    /* Style the active link (or home/logo) */
    .active {
        color: white;
    }

    /* --- Tablet footer --- */
    footer {
        display: grid;
        grid-template: 1fr;
        text-align: center;
    }

    footer img {
        margin: 0 auto;
    }
}


/* --- Desktop Version --- */
@media screen and (min-width: 1280px) {
    body {
        width: 1280px;
        margin: 0 auto;
    }

    header {
        display: grid;
        grid-template-columns: 250px 1fr;
    }

    header ul {
        text-align: center;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-left: 0px;
    }

    header ul li {
        list-style-type: none;
        text-transform: uppercase;
        padding: 20px;
    }

    header ul li:hover {
        background-color: red;
        color: white;
    }

    header ul li a {
        color: white;
        text-decoration: none;
        padding: 20px;
    }

    a.icon {
        display: none;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
    }

    footer img {
        width: 150px;
        margin: 0 auto;
    }
}